<div class="container">
  <h1>{{ participant.name }}</h1>
  <dl class="list">
    <dt translate>emailHead</dt>
    <dd>{{ participant.email }}</dd>
    <dt translate>friendHead</dt>
    <dd>{{ participant.friend }}</dd>
  </dl>

  <button class="btn btn-info" (click)="edit(participant)" translate>
      <span class="glyphicon glyphicons-playing-dices" aria-hidden="true"></span>
      editBtn
    </button>

    <button class="btn btn-danger" (click)="delete(participant)" translate>
        <span class="glyphicon glyphicons-playing-dices" aria-hidden="true"></span>
        deleteBtn
      </button>
</div>