<div class="container">
  <h1 translate *ngIf="!isUpdate">titleAdd</h1>
  <h1 translate *ngIf="isUpdate">titleUpdate</h1>
  <div class="row">
    <div class="col-md-6">
      <form #participantForm="ngForm">
        <div class="form-group">
          <label for="name" translate>nameHead</label>
          <input type="text" class="form-control" [(ngModel)]="participant.name" name="name" required>
        </div>
        <div class="form-group">
          <label for="email" translate>emailHead</label>
          <input type="email" class="form-control" [(ngModel)]="participant.email" name="email" required>
        </div>
        <div class="form-group" >
          <button type="button" (click)="save()"  *ngIf="!isUpdate" class="btn btn-success" [disabled]="!participantForm.form.valid" translate>saveBtn </button>
          <button type="button" (click)="update()"  *ngIf="isUpdate" class="btn btn-success" [disabled]="!participantForm.form.valid" translate>updateBtn </button>
        </div>
      </form>
    </div>
  </div>
</div>